@using E_Commerce.Models
@model List<Product>
@{
    ViewBag.Title = "Index";
}


<section class="bgwhite p-t-55 p-b-65">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-4 col-lg-3 p-b-50">
                <div class="leftbar p-r-20 p-r-0-sm">
                    <!--  -->
                    <h4 class="m-text14 p-b-7">
                        Kategoriler
                    </h4>

                    <ul class="p-b-54">
                        @foreach (Category item in ViewBag.Categories)
                        {
                            <li class="p-t-4">
                                <a href="?id=@item.Id" class="s-text13 active1">
                                    @item.Name
                                </a>
                                <ul>
                                    @foreach (var item2 in item.ChildCategory)
                                    {
                                        <li class="p-t-4"><a href="/product/index/?id=@item2.Id">>>@item2.Name</a></li>
                                    }
                                </ul>
                            </li>
                        }
                    </ul>
                    <!--  -->
                    <h4 class="m-text14 p-b-32">
                        Filtre
                    </h4>

                    <div class="filter-price p-t-22 p-b-50 bo3">
                        <div class="m-text15 p-b-17">
                            Fiyat
                        </div>

                        <div class="wra-filter-bar">
                            <div id="filter-bar"></div>
                        </div>

                        <div class="flex-sb-m flex-w p-t-16">
                            <div class="w-size11">
                                <!-- Button -->
                                <button class="flex-c-m size4 bg7 bo-rad-15 hov1 s-text14 trans-0-4">
                                    Filter
                                </button>
                            </div>

                            <div class="s-text3 p-t-10 p-b-10">
                                Fiyat Aralığı: $<span id="value-lower">610</span> - $<span id="value-upper">980</span>
                            </div>
                        </div>
                    </div>

                    <div class="filter-color p-t-22 p-b-50 bo3">
                        <div class="m-text15 p-b-12">
                            Renk
                        </div>

                        @*<ul class="flex-w">
                            @{ int filter = 0;}
            @foreach (var item in collection)
            {
                filter++;
                <li class="m-r-10">
                    <input class="checkbox-color-filter" id="@Html.Raw("color-filter" + filter)" type="checkbox" name="color-filter1">
                    <label class="color-filter color-filter1" for="@Html.Raw("color-filter" + filter)"></label>
                </li>
            }
                        </ul>*@
                        <ul class="flex-w">
                            <li class="m-r-10">
                                <input class="checkbox-color-filter" id="color-filter1" type="checkbox" name="color-filter1">
                                <label class="color-filter color-filter1" for="color-filter1"></label>
                            </li>

                            <li class="m-r-10">
                                <input class="checkbox-color-filter" id="color-filter2" type="checkbox" name="color-filter2">
                                <label class="color-filter color-filter2" for="color-filter2"></label>
                            </li>

                            <li class="m-r-10">
                                <input class="checkbox-color-filter" id="color-filter3" type="checkbox" name="color-filter3">
                                <label class="color-filter color-filter3" for="color-filter3"></label>
                            </li>

                            <li class="m-r-10">
                                <input class="checkbox-color-filter" id="color-filter4" type="checkbox" name="color-filter4">
                                <label class="color-filter color-filter4" for="color-filter4"></label>
                            </li>

                            <li class="m-r-10">
                                <input class="checkbox-color-filter" id="color-filter5" type="checkbox" name="color-filter5">
                                <label class="color-filter color-filter5" for="color-filter5"></label>
                            </li>

                            <li class="m-r-10">
                                <input class="checkbox-color-filter" id="color-filter6" type="checkbox" name="color-filter6">
                                <label class="color-filter color-filter6" for="color-filter6"></label>
                            </li>

                            <li class="m-r-10">
                                <input class="checkbox-color-filter" id="color-filter7" type="checkbox" name="color-filter7">
                                <label class="color-filter color-filter7" for="color-filter7"></label>
                            </li>
                        </ul>
                    </div>

                    @using (Html.BeginForm("Index", "Product", FormMethod.Post))
                    {
                        <div class="search-product pos-relative bo4 of-hidden">
                            <input class="s-text7 size6 p-l-23 p-r-50" type="text" name="search" placeholder="Ara...">

                            <button class="flex-c-m size5 ab-r-m color2 color0-hov trans-0-4">
                                <i class="fs-12 fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                    }


                </div>
            </div>

            <div class="col-sm-6 col-md-8 col-lg-9 p-b-50">
                <!--  -->
                <div class="flex-sb-m flex-w p-b-35">
                    <div class="flex-w">
                        <div class="rs2-select2 bo4 of-hidden w-size12 m-t-5 m-b-5 m-r-10">
                            <select class="selection-2" id="slc_sort" onchange="ListOrderDesc(this)" name="sorting">
                                <option selected value="0">Sıralama</option>
                                <option value="2">Fiyata Göre Artan</option>
                                <option value="1">Fiyata Göre Azalan</option>
                               
                            </select>
                        </div  >               
                </div>

                <!-- Product -->
                <div class="row">
                    @foreach (Product item in Model)
                    {
                        <div class="col-sm-12 col-md-6 col-lg-4 p-b-50">
                            <!-- Block2 -->
                            <div class="block2">
                                <div class="block2-img wrap-pic-w of-hidden pos-relative block2-labelnew">

                                    @if (item.ProductImages != null && item.ProductImages.Count != 0)
                                    {
                                        <img src="/Uploads/Product/@item.ProductImages.FirstOrDefault().ImageURL" alt="IMG-PRODUCT" height="300" width="100">
                                    }


                                    <div class="block2-overlay trans-0-4">
                                        <a href="#" class="block2-btn-addwishlist hov-pointer trans-0-4">
                                            <i class="icon-wishlist icon_heart_alt" aria-hidden="true"></i>
                                            <i class="icon-wishlist icon_heart dis-none" aria-hidden="true"></i>
                                        </a>

                                        <div class="block2-btn-addcart w-size1 trans-0-4">
                                            <!-- Button -->
                                            <a href="/product/productDetail/@item.Id" id="cart" rel="@item.Id" class="flex-c-m size1 bg4 bo-rad-23 hov1 s-text1 trans-0-4">
                                                Sepete Ekle
                                            </a>
                                        </div>
                                    </div>
                                </div>

                                <div class="block2-txt p-t-20">
                                    <a href="/Product/ProductDetail/@item.Id" class="block2-name dis-block s-text3 p-b-5">
                                        @item.Name
                                    </a>

                                    <span class="block2-price m-text6 p-r-5">
                                        @item.Price ₺
                                    </span>
                                </div>
                            </div>
                        </div>
                    }
                </div>

                <!-- Pagination -->
                <div class="pagination flex-m flex-w p-t-26">
                    <a href="#" class="item-pagination flex-c-m trans-0-4 active-pagination">1</a>
                    <a href="#" class="item-pagination flex-c-m trans-0-4">2</a>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Action("_Slider", "Home", new { area = "" })
<script type="text/javascript" src="/Content/Site/vendor/noui/nouislider.min.js"></script>
<script type="text/javascript">
		/*[ No ui ]
	    ===========================================================*/
	    var filterBar = document.getElementById('filter-bar');

	    noUiSlider.create(filterBar, {
	        start: [ 50, 200 ],
	        connect: true,
	        range: {
	            'min': 50,
	            'max': 200
	        }
	    });

	    var skipValues = [
	    document.getElementById('value-lower'),
	    document.getElementById('value-upper')
	    ];

	    filterBar.noUiSlider.on('update', function( values, handle ) {
	        skipValues[handle].innerHTML = Math.round(values[handle]) ;
    });

    function ListOrderDesc(elm) {
        var value = $('#' + elm.id).val();
        return window.location = "/Product/Index?sorting=" + value;
    }
</script>
<!--===============================================================================================-->
<script src="/Content/Site/js/main.js"></script>