@using E_Commerce.Models
@model Cart
@{
    Layout = null;
}


<img src="/Content/Site/images/icons/icon-header-02.png" class="header-icon1 js-show-header-dropdown" alt="ICON">
<span class="header-icons-noti">@ViewBag.count</span>
<!-- Header cart noti -->
<div class="header-cart header-dropdown">
    @if (Model != null)
    {
        if (Model.CartDetail != null)
        {
            <ul class="header-cart-wrapitem">
                @foreach (var item in Model.CartDetail)
                {
                    <li class="header-cart-item">
                        <div class="header-cart-item-img">
                            <img src="~/Uploads/Product/@item.Product.ProductImages.FirstOrDefault().ImageURL" alt="IMG">
                        </div>

                        <div class="header-cart-item-txt">
                            <a href="#" class="header-cart-item-name">
                                @item.Product.Name
                            </a>

                            <span class="header-cart-item-info">
                                @item.Quantity x @item.Product.Price.ToString("C")
                            </span>
                        </div>
                    </li>
                }

            </ul>
        }
    }


    <div class="header-cart-total">
        Total: @Model.SubTotal.ToString("C")
    </div>

    <div class="header-cart-buttons">
        <div class="header-cart-wrapbtn">
            <!-- Button -->
            <a href="/cart/index" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                Sepete Git
            </a>
        </div>

        <div class="header-cart-wrapbtn">
            <!-- Button -->
            <a href="/cart/checkout" class="flex-c-m size1 bg1 bo-rad-20 hov1 s-text1 trans-0-4">
                Onayla
            </a>
        </div>
    </div>
</div>
